html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.status_bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  font-size: 14px;
}

.status_bar__column {
  width: 33%;
}

.status_bar__column:first-child span {
  margin-right: 5px;
}

.status_bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status_bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
}

.loginPage-header {
  margin: 90px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.loginPage_header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

.loginPage_header__text {
  width: 60%;
  opacity: 0.5;
  font-weight: 500;
}

.loginPage-form {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loginPage-form input {
  width: 70%;
  border: none;
  padding: 25px;
  font-size: 19px;
  margin-bottom: 10px;
}

.loginPage-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
  padding: 27px 0 16px 0;
}

.loginPage-form input::placeholder {
  text-align: center;
  justify-items: baseline;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.loginPage-form input:focus {
  border-color: #fff313;
}

.loginPage-form__btn {
  border-radius: 10px;
  background-color: #fff313;
  cursor: pointer;
}

.loginPage-form__link {
  font-size: 14px;
  margin-top: 15px;
  text-decoration: none;
  color: inherit;
}

.badge {
  display: flex;
  background-color: tomato;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ececed;
  padding: 20px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
  font-size: 30px;
}

.nav__ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__ul__li__link {
  position: relative;
  color: #2e363e;
  position: relative;
}

.nav__ul__li__link__chat__notic {
  position: absolute;
  left: 15px;
  top: -15px;
  display: flex;
  background-color: tomato;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
}

.nav__ul__li__link__menu_notic {
  position: absolute;
  left: 23px;
  background-color: tomato;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.nav__ul__li__link__find {
  position: absolute;
  top: 26px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #2e363e;
}

.screen-header {
  margin: 25px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 15px;
  position: relative;
}

.screen-header__icons__plus {
  font-size: 10px;
  position: absolute;
  top: -2.5px;
  right: -2.1px;
  background-color: white;
  border-radius: 50%;
}

.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.user-component__colum__notice {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__colum__notice__time {
  display: block;
  margin-bottom: 4px;
}

.user-component__colum {
  display: flex;
  align-items: center;
}

.user-component__colum__profile {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}

.user-component__colum__profile--xl {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.user-component__colum__profile--sm {
  width: 45px;
  height: 45px;
  border-radius: 25%;
}

.user-component__colum__text {
  padding-left: 15px;
}

.user-component__colum__text__name {
  font-size: 20px;
  font-weight: 500;
}

.user-component__colum__text__name--not-bold {
  font-size: 16px;
  font-weight: 400;
}

.user-component__colum__text__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.alt-header {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}

.alt-header__column__title {
  font-size: 25px;
  font-weight: 600;
}

.setting-screen .settings_list {
  display: flex;
  flex-direction: column;
}

.setting-screen .settings_list__setting {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.setting-screen .settings_list__setting i {
  font-size: 20px;
  margin-right: 15px;
}

.setting-screen .settings_list__setting span {
  opacity: 0.4;
  margin-left: auto;
}

#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .status_bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .main-chat .chat_timeStamp {
  margin-top: 50px;
}

.icons-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.icons-row__icon {
  display: flex;
  width: 25%;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-row i {
  font-size: 30px;
  margin-bottom: 10px;
}

.icons-row span {
  display: flex;
  width: 70px;
  height: 40px;
  font-size: 15px;
  justify-content: center;
  text-align: center;
}

.recommended-friends {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.recommended-friends__title {
  position: absolute;
  top: 10px;
  left: 0px;
}

.open-chat {
  padding-top: 10px;
}

.open-chat__bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__bar__text {
  color: rgba(0, 0, 0, 0.2);
}

.open-chat__bar__text i {
  font-size: 12px;
}

.open-chat__colum {
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.open-chat__colum__text {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.open-chat__colum__text__tag {
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__colum__text__subTitle {
  display: flex;
  align-items: center;
  gap: 2px;
}

.open-chat__colum__text__subTitle img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.open-chat__colum__text__subTitle__member {
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__colum__text__subTitle__active {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1.5px solid rgba(0, 0, 0, 0.2);
  color: hotpink;
}

.open-chat__colum__Thumbnail {
  position: relative;
}

.open-chat__colum__Thumbnail__img {
  width: 90px;
  height: 90px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.open-chat__colum__Thumbnail__views {
  position: absolute;
  right: 6px;
  bottom: 10px;
  padding: 5px 7px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.more-screen .icons-row {
  margin-top: 10px;
}

.more-screen .more-suggections {
  margin-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.more-screen .more-suggections__title {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.more-screen .more-suggections__icons {
  display: flex;
  flex-wrap: wrap;
}

.more-screen .more-suggections__icons__icon {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.more-screen .more-suggections__icons__icon__img {
  border-radius: 10px;
  width: 47px;
  height: 47px;
}

.more-screen .more-suggections__icons__icon span {
  font-size: 12px;
  margin-top: 10px;
}

#AD {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  padding: 15px 0;
  font-weight: 550;
  margin-bottom: 10px;
}

#AD span {
  margin-right: 5px;
}

#AD i {
  margin: 0 3px;
  font-size: 14px;
}

.friends-screen {
  padding: 0 15px;
}

.friends-screen__channel {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BMJUA";
  color: #2e363e;
}

.main-screen {
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */