@import "base/_reset";
@import "components/_status-bar";
@import "components/_loginpage-header";
@import "components/_loginPage-form";
@import "./components/_nav-bar";
@import "./components/_screen-header";
@import "./pages/_friends";
@import "./components/_user-components";

@import "./base/_variable";
@import "./pages/_find";

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "BMJUA";
  color: #2e363e;
}
.main-screen {
  padding: 0 #{$horizontal__space};
}
