@import "../base/_variable";

#no-mobile {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: #{$kakao_yellow};
  z-index: 99;

  font-size: 35px;
}

@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}
